@import '../partials/myxx-ui';

.artist-page {
    .theme img {
        width: 100%;
    }

    .person-info {
        line-height: 28px;
        margin-top: 28px;
        position: relative;
        margin-bottom: 5px;

        img {
            width: 112px;
            height: 112px;
            border: 5px solid #fff;
        }

        .head {
            position: relative;
            left: 0;
            top: -84px;
            margin-left: 10px;
        }

        .name {
            padding: 0 10px;
            font-size: 20px;
            font-weight: bold;
        }

        .grade {
            padding-left: 10px;
        }
    }
}
