@import 'partials/myxx';
.feedback {
    display: -webkit-box;
    padding-left: 32px;
    height: 800px;
    position: relative;
    textarea {
        width: 684px;
        height: 280px;
        border-radius: 8px;
        font-size: 30px;
        padding-left: 30px;
        padding-top: 30px;
        resize: none;
        border-width: 1px;
        position: absolute;
        color: map-get($colors, 'txt-primary');
        overflow: hidden;
    }
    .info {
        margin-top: 320px;
        width: 380px;
        p {
            margin-bottom: 24px;
        }
        textarea {
            width: 684px;
            height: 90px;
            border-radius: 8px;
            font-size: 30px;
            padding-left: 30px;
            padding-top: 30px;
            resize: none;
            border-width: 1px;
            color: #393939;
            overflow: hidden;
            word-wrap: normal;
        }
        button {
            color: #ffffff;
            height: 80px;
            width: 684px;
            border: 0;
            border-radius: 8px;
            margin-top: 130px;
            font-size: 30px;
            background-color: map-get($colors, 'txt-red');
        }
    }
    ::-webkit-input-placeholder {
        color: map-get($colors, 'txt-gray');
    }
}
