@import 'partials/myxx';
%staticstyle {
    display: -webkit-box;
    height: 180px;
    padding-left: 34px;
    position: relative;
    img {
        height: 120px;
        width: 120px;
    }
}
.user {
    @extend %staticstyle;
    img {
        border-radius: 50%;
    }
    .info {
        margin: 56px 0 24px 60px;
        width: 380px;
        button {
            height: 36px;
            width: 80px;
            line-height: 0;
            border: 0;
            border-radius: 4px;
            margin-top: -18px;
            position: absolute;
            right: 32px;
            top: 50%;
            font-size: 22px;
        }
    }
}
.store {
    @extend %staticstyle;
    .info {
        margin: 56px 0 24px 60px;
        width: 380px;
        button {
            height: 36px;
            width: 80px;
            line-height: 0;
            border: 0;
            border-radius: 4px;
            margin-top: -18px;
            position: absolute;
            right: 32px;
            top: 50%;
            font-size: 22px;
            background-color: #9bde6a;
        }
        p:nth-child(2) {
            margin-top: 12px;
        }
    }
}
.baobei {
    @extend %staticstyle;
    .info {
        margin: 28px 0 24px 60px;
        width: 380px;
        button {
            height: 36px;
            width: 80px;
            line-height: 0;
            border: 0;
            border-radius: 4px;
            margin-top: -18px;
            position: absolute;
            right: 32px;
            top: 50%;
            font-size: 22px;
            background-color: #c68cb1;
        }
        p:nth-child(2) {
            margin-top: 12px;
        }
        p:nth-child(3) {
            margin-top: 32px;
        }
    }
}
.jianbao {
    @extend %staticstyle;
    .info {
        margin: 28px 0 24px 60px;
        width: 380px;
        button {
            height: 36px;
            width: 80px;
            line-height: 0;
            border: 0;
            border-radius: 4px;
            margin-top: -18px;
            position: absolute;
            right: 32px;
            top: 50%;
            font-size: 22px;
            color: map-get($colors, 'txt-white');
            background-color: #5baee7;
        }
        p:nth-child(2) {
            margin-top: 40px;
        }
    }
}
