@import 'partials/myxx';
html,
body {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container-h .swiper-wrapper > .swiper-slide {
    width: 90%;
    &:first-of-type, &:last-of-type {
        width: 705px;
    }
}
.swiper-container-v,
.swiper-container-h {
    > .swiper-wrapper > .swiper-slide {
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
.swiper-container-horizontal > .swiper-pagination.down-hint {
    bottom: 40px;
    &::before {
        font-family: 'icomoon';
        content: '\e917';
        display: block;
        padding-left: 18px;
        transform: rotate(-90deg);
    }
}

.swiper-container-scroll {
    .swiper-slide {
        width: 100%;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .jade {
        border-radius: 8px;
        padding: 8px;
        display: inline-block;
        width: 342px;
        margin: 8px 9px;
        .img-placeholder {
            width: 326px;
            height: 268px;
            background-size: cover;
            background-position: center;
            margin-bottom: 10px;
        }
        .price {
            margin-top: 16px;
        }
    }
}
.up-hint {
    margin: 20px 0 40px;
    text-align: center;
    &::before {
        font-family: 'icomoon';
        content: '\e917';
        display: block;
        transform: rotate(90deg);
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    position: absolute;
    left: 15px;
    top: 90px;
    right: 15px;
    bottom: 130px;
    background-size: cover;
    background-position: center;
    text-align: left;
    &::after {
        pointer-events: none;
        content: '';
        background-position: right 32px top 32px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: 1.2rem;
        mix-blend-mode: overlay;
        background-image: url('/images/icon/ico_video.png');
    }
    .owner {
        display: flex;
        justify-content: space-around;
        padding: 0 32px;
        img {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .desc {
            flex: 1;
            font-size: 32px;
            p {
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    .social-status {
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        font-size: 28px;
        margin: 0 32px 0 60px;
        .result {
            flex: 1;
            text-align: right;
        }
    }
}
