@import "partials/myxx-ui";

body {
    background-color: map-get($colors, 'bg-white');
    color: map-get($colors, bg-white);
}

h1 {
    color: map-get($colors, 'white');
}
ul li > a {
    color: map-get($colors, 'white');
    text-decoration: none;
}
