@import 'partials/myxx';
body {
    background-color: #607d8b;
    color: map-get($colors, 'bg-white');
}

h1 {
    color: map-get($colors, 'white');
    margin: 10px 0;
    margin-bottom: 10px;
}

ul li {
    margin-top: .8em;
    > a {
        color: map-get($colors, 'bg-white');
        text-decoration: none;
    }
}
