@import 'partials/myxx';
body {
    background-color: map-get($colors, 'bg-tomato');
    color: map-get($colors, 'bg-white');
}

h1 {
    color: map-get($colors, 'white');
    margin: 10px 0;
}

ul li {
    margin-bottom: 10px;
    > a {
        color: map-get($colors, 'white');
        text-decoration: none;
    }
}
