@import 'partials/myxx';
.card {
    @include border($border-color, top);
    padding: 24px 32px;
    padding-bottom: 0;
    .avatar-user {
        height: 72px;
        width: 72px;
        border-radius: 50%;
    }
    .profile {
        padding: 11px 0 0 20px;
        p {
            margin-bottom: 12px;
        }
    }
    table div {
        height: 171px;
        width: 220px;
        background-size: cover;
        background-position: center;
        &.video {
            height: 351px;
            position: relative;
            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -30px;
                margin-left: -30px;
            }
        }
    }
    .master {
        height: 108px;
        &:not(:last-child) {
            @include border($border-color, bottom);
        }
        &:last-child {
            border-bottom: 0;
        }
        .avatar-master {
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
        .identify {
            height: 24px;
            width: 24px;
            margin-top: 7px;
        }
        .profile {
            padding-top: 26px;
        }
        .result {
            position: absolute;
            right: 32px;
            p {
                margin: 40px 0 0 12px;
            }
        }
    }
    &:active {
        background-color: #d9d9d9;
    }
}
.operation {
    @include border($border-color, top-bottom);
    height: 80px;
    & > div {
        @include border($border-color, right);
        width: 50%;
        text-align: center;
        margin: 24px 0;
    }
    span[class~='light-gray'] {
        margin-left: 12px;
    }
}
