@import 'partials/myxx';
@mixin common-master($bgcolor, $height, $width, $border-radius) {
    background-color: $bgcolor;
    height: $height;
    width: $width;
    border-radius: $border-radius;
}
.master-list {
    .search {
        @include border(map-get($colors, 'border-primary'), top-bottom);
        input {
            @include border(map-get($colors, 'border-primary'));
            @include common-master(map-get($colors, 'border-primary'), 60px, 686px, 8px);
            margin: 13px 32px;
            padding: 0 64px;
            border: 0;
        }
        .icon-favor {
            position: absolute;
            top: 33px;
            left: 52px;
        }
        .icon-shop {
            display: none;
            position: absolute;
            top: 33px;
            right: 52px;
        }
    }
    .filter {
        @include common-master(black, 100%, 100%, '');
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        z-index: 1001;
        opacity: .5;
    }
    .master {
        @include border(map-get($colors, 'border-primary'), bottom);
        padding: 0 32px;
        img {
            @include common-master('', 120px, 120px, 50%);
            margin: 45px 30px 0 0;
        }
    }
    .master-profile {
        margin: 18px 0;
        > div {
            display: -webkit-box;
            font-size: 22px;
            &:nth-child(2n+1) {
                margin-bottom: 18px;
            }
            .honor {
                margin: 0 32px 12px 0;
            }
            span {
                display: inherit;
                padding-top: 3px;
            }
        }
        [type='button'] {
            @include border(map-get($colors, 'border-primary'));
            @include common-master(map-get($colors, 'yellow'), '', '', 5px);
            line-height: 32px;
            padding: 0 5px;
            border: 0;
            margin-left: 12px;
        }
        .identify-number {
            margin-right: 50px;
            &::before {
                content: '鉴宝数 ';
            }
        }
        .fans::before {
            content: '粉丝 ';
        }
    }
    .hiding {
        background-color: rgba(0, 0, 0, .5);
    }
    ::-webkit-input-placeholder {
        font-size: 22px;
    }
}
