@import 'partials/myxx';
%staticstyle {
    padding-left: 32px;
    position: relative;
    .sender {
        display: -webkit-box;
        height: 114px;
        position: relative;
        img {
            position: absolute;
            height: 68px;
            width: 68px;
            top: 26px;
            border-radius: 50%;
        }
        p:nth-of-type(1) {
            position: absolute;
            top: 47px;
            left: 88px;
        }
        p:nth-of-type(2) {
            position: absolute;
            top: 48px;
            right: 32px;
            font-size: 24px;
        }
    }
    .info {
        display: -webkit-box;
        padding-bottom: 24px;
        position: relative;
        p {
            line-height: 38px;
            font-size: 26px;
        }
    }
    .hrefimg {
        display: -webkit-box;
        position: relative;
        margin-bottom: 30px;
        margin-top: 6px;
        margin-right: 32px;
        height: 149px;
        background-color: #efeff4;
        img {
            position: absolute;
            margin: 12px 0 12px 12px;
            height: 125px;
            width: 125px;
        }
        p:nth-of-type(1) {
            position: absolute;
            font-size: 30px;
            left: 173px;
        }
        p:nth-of-type(2) {
            position: absolute;
            font-size: 26px;
            margin-top: 84px;
            left: 173px;
        }
    }
}
.system {
    @extend %staticstyle;
    .info {
        p {
            color: #393939;
        }
    }
    .hrefimg {
        p:nth-of-type(1) {
            top: 50%;
            margin-top: -15px;
        }
    }
}
.notice {
    @extend %staticstyle;
    .info {
        p {
            color: #393939;
        }
    }
    .hrefimg {
        p:nth-of-type(1) {
            margin-top: 38px;
        }
    }
}
.success {
    @extend %staticstyle;
    .info {
        p {
            color: #56b937;
        }
    }
    .hrefimg {
        p:nth-of-type(1) {
            margin-top: 38px;
        }
    }
}
