@import 'partials/myxx';
.account {
    display: -webkit-box;
    height: 192px;
    padding-left: 32px;
    position: relative;
    @include border($border-color, top-bottom);
    img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
    .user {
        margin: 40px 0 24px 28px;
        button {
            background-color: map-get($colors, 'bg-white');
            color: map-get($colors, 'dark-red');
            font-size: 26px;
            height: 42px;
            padding: 5px 14px;
            margin-top: 24px;
            border: 0;
            @include border($border-color);
            border-radius: 5px;
        }
        p:nth-child(2) {
            margin-top: 1px;
        }
    }
    span {
        position: absolute;
        right: 32px;
        top: 50%;
        margin-top: -16px;
        color: map-get($colors, light-gray);
    }
}
