@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/file/icomoon.eot?g7o12r');
    src: url('../../fonts/file/icomoon.eot?g7o12r#iefix') format('embedded-opentype'),
    url('../../fonts/file/icomoon.ttf?g7o12r') format('truetype'),
    url('../../fonts/file/icomoon.woff?g7o12r') format('woff'),
    url('../../fonts/file/icomoon.svg?g7o12r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icomoon';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; // Better Font Rendering
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    &::before {
        vertical-align: middle;
    }
}

.icon-arrow-right:before {
    content: '\e900';
}
.icon-view:before {
    content: '\e901';
}
.icon-star:before {
    content: '\e902';
}
.icon-location:before {
    content: '\e903';
}
.icon-more:before {
    content: '\e904';
}
.icon-favor:before {
    content: '\e905';
}
.icon-refresh:before {
    content: '\e906';
}

