.row {
    background-color: map-get($colors, 'bg-white');
    color: map-get($colors, 'dark-gray');
    font-size: 30px;
    line-height: 100px;
    padding: 0 32px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    .icon-arrow-right {
        color: map-get($colors, 'light-gray');
        font-size: 32px;
        margin-top: -16px;
        position: absolute;
        right: 32px;
        top: 50%;
    }
}
.row-block {
    .row:not(:first-child){
      margin-top: 0;
    }
    .row:not(:last-child) {
        @include border($border-color, bottom)
    }
}

$gridColumns: 12;
@for $i from 1 through $gridColumns {
    .col-#{$i+1} {
        float: left;
        width: percentage(($i+1)/$gridColumns);
    }
}

.separator {
    @include border($border-color, top-bottom);
    background-color: $separator-color;
    display: block;
    height: 22px;
    width: 100%;
}
.border-top {
    @include border($border-color, top)
}
.border-bottom {
    @include border($border-color, bottom)
}
.border-tb {
    @include border($border-color, top-bottom)
}
.border {
    @include border($border-color)
}
