%separator {
  @include border($border-color, top-bottom);
  background-color: $separator-color;
  display: block;
  width: 100%;
}

@mixin separator($height) {
    @extend %separator;
    height: $height;
}
.row {
    background-color: map-get($colors, 'bg-white');
    color: map-get($colors, 'dark-gray');
    font-size: 30px;
    line-height: 100px;
    padding: 0 32px;
    position: relative;
    width: 100%;
    .icon-enter,.icon-text,.icon-text-enter{
        color: map-get($colors, 'light-gray');
        font-size: 26px;
        margin-top: -16px;
        position: absolute;
        right: 32px;
        top: 50%;
    }
}
.row-block {
    .row:not(:first-child) {
        margin-top: 0;
    }
    .row:not(:last-child) {
        @include border($border-color, bottom)
    }
}
$gridColumns: 12;
@for $i from 1 through $gridColumns {
    .col-#{$i+1} {
        float: left;
        width: percentage(($i+1)/$gridColumns);
    }
}
.separator-80 {
    @include separator(80px);
}
.separator-40 {
    @include separator(40px);
}
.separator {
    @include separator(22px);
}
.border-top {
    @include border($border-color, top)
}
.border-bottom {
    @include border($border-color, bottom)
}
.border-tb {
    @include border($border-color, top-bottom)
}
.border {
    @include border($border-color)
}
