.row {
    background-color: map-get($colors, bg-white);
    color: map-get($colors, 'dark-gray');
    font-size: 1rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    position: relative;
    width: 100%;
    .icon-arrow-right {
        color: map-get($colors, 'dark-gray');
        font-size: 1.5rem;
        margin-top: -.75rem;
        position: absolute;
        right: 1rem;
        top: 50%;
    }
}
.row-block {
    //padding: 0 16px;
    .row:not(:last-child) {
        @include border($border-color, bottom)
    }
    .row {
        padding-left: 1rem;
        .icon-arrow-right {
            right: 1rem;
        }
    }
}

.separator {
    //background: map-get($colors, bg-gray);
    display: block;
    height: 10px;
    width: 100%;
}
.border-top {
    @include border($border-color, top)
}
.border-bottom {
    @include border($border-color, bottom)
}
.border-tb {
    @include border($border-color, top-bottom)
}
.border {
    @include border($border-color)
}
