// font size
$sizes: (30, 28, 26, 24, 22, 20, 18, 16, 14, 13, 12, 11, 10);


// colors
$colors: (
    // theme color
    bg-white: #ffffff,
    bg-tomato: tomato,
    // text color
    light-gray: #dcdcdc,
);
// list color
$border-gray: #dcdcdc;

// border color
$border-color: #d8d7dc;

// separator color
$separator-color: map-get($colors, 'light-gray');

// dimensions
$padding: 10px;
$margin: 10px;
