// font size
$sizes: (32, 30, 28, 26, 24, 22, 20, 18, 16, 15, 14, 13, 12, 11, 10);


// colors
$white: #ffffff;
$colors: (
    // theme color
    bg-theme: #efefef,
    bg-white: $white,
    bg-tomato: tomato,
    // text color
    light-gray: #c6c6c6,
    dark-gray: #393939,
    dark-red: #cc3f4f,
    title-gray: #929292,
    // button color
    bt-yellow: #ecc976,
    bt-white: $white,
    bt-green: #9bde6a,
    bt-pink: #c68cb1,
    bt-blue: #5baee7,
    white: $white
);
// list color
$border-gray: #dcdcdc;

// border color
$border-color: #d9d9d9;

// dot color
$dot-color: #bababa;

$menu-active-color: #d9d9d9;

// separator color
$separator-color: #eeeeee;

// dimensions
$padding: 24px;
$margin: 24px;
