/************************
*   遍历变量，生成class    *
* **********************/
@import 'var';
@each $size in $fonts {
    .font-#{$size} {
        font-size: #{$size}px;
    }
}

@each $clazz, $color in $colors {
    $bg: str-index('"' + $clazz + '"', 'bg-');
    $border: str-index('"' + $clazz + '"', 'border-');
    .#{$clazz} {
        @if $bg {
            background-color: #{$color};
        } @else if $border {
            border: 1px solid #{$color};
        } @else {   // 默认为字体颜色
            color: #{$color};
        }
    }
}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.center {text-align: center;}

@each $size in $avatars {
    .avatar-#{$size} {
        width: #{$size}px;
        height: #{$size}px;
        border-radius: 50%;
        background-image: url('http://7xp1h7.com2.z0.glb.qiniucdn.com/placeholder/avatar.svg');
        background-size: cover;
    }
}
.avatar {
    @extend .avatar-68;
}

@each $direction in (all, top, right, bottom, left, vertical, horizontal) {
    .border-#{$direction} {
        @include border(#{$direction});
    }
}
/**********************************
*   常用间距，和设计规范紧密相关,待调整  *
* ********************************/
.margin-top {margin-top: 12px;}
.margin-left {margin-left: 20px;}
.margin-right {margin-right: 20px;}
.margin-bottom {margin-bottom: 20px;}
.padding {padding: 8px;}
.padding-top {padding-top: 8px;}
.padding-right {padding-right: 8px;}
.padding-bottom {padding-bottom: 8px;}
.padding-left {padding-left: 8px;}
.padding-horizontal {padding-left: 8px; padding-right: 8px;}
.padding-vertical {padding-top: 8px; padding-bottom: 8px;}

/****************************
*           常用功能          *
* **************************/
@each $position in (relative, absolute, fixed) {
    .#{$position} {
        position: #{$position};
    }
}
.flex {
    display: -webkit-box;
    -webkit-box-align: center;
    .flex-1 {
        -webkit-box-flex: 1;
    }
}
.center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.show {
    display: block;
}

.hide {
    display: none;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}
.clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}
/****************************
*           常用组件          *
* **************************/
.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: map-get($colors, white);
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px;
}
// 视频占位
.video {
    position: relative;
    background-size: cover;
    background-color: #e0e0e0;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        /*mix-blend-mode: overlay;*/
        background: transparent url('//7xp1h7.com2.z0.glb.qiniucdn.com/ico_video.png') no-repeat right 30px top 30px;
        background-size: 1rem;
    }
}
.play {
    position: relative;
    background-size: cover;
    background-color: #e0e0e0;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // mix-blend-mode: overlay;
        background: transparent url('//7xp1h7.com2.z0.glb.qiniucdn.com/play.svg') no-repeat center;
        background-size: 1rem;
    }
}
.img {
    background-size: cover;
    background-position: center;
}
.row {
    line-height: 100px;
    padding: 0 32px;
    position: relative;
    width: 100%;
    .icon-enter {
        margin-top: -16px;
        position: absolute;
        right: 32px;
        top: 50%;
    }
}
.row-block {
    .row:nth-of-type(2n+1) {
        @extend .border-top;
        margin-top: 0;
    }
}
.separator, .separator-20 {
    @extend .border-vertical;
    @extend .bg-default;
    height: 20px;
}
.separator-40 {
    @extend .border-vertical;
    @extend .bg-default;
    height: 40px;
}
[class^='icon-'], [class*=' icon-'] {
    padding-right: 10px;
    &  + span {
        vertical-align: text-top;
    }
}
