@import 'var';
@font-face {
    font-family: 'icomoon';
    src: url('#{$qn}/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
    content: "\e92a";
}
.icon-subtract:before {
    content: "\e92b";
}
.icon-record:before {
    content: "\e92c";
}
.icon-clock:before {
    content: "\e92d";
}
.icon-weixin:before {
    content: "\e931";
}
.icon-down-slim:before {
    content: "\e934";
}
.icon-success:before {
    content: "\e928";
}
.icon-error:before {
    content: "\e929";
}
.icon-like-solid:before {
    content: "\e926";
}
.icon-new-product:before {
    content: "\e920";
}
.icon-auction:before {
    content: "\e921";
}
.icon-user-profile:before {
    content: "\e927";
}
.icon-like-heart:before {
    content: "\e91e";
}
.icon-comment-solid:before {
    content: "\e91f";
}
.icon-story:before {
    content: "\e91d";
}
.icon-down:before {
    content: "\e91c";
}
.icon-coin-y .path1:before {
    content: "\e91a";
    color: rgb(216, 216, 216);
}
.icon-coin-y .path2:before {
    content: "\e91b";
    margin-left: -1.0380859375em;
    color: rgb(255, 255, 255);
}
.icon-m-office:before {
    content: "\e90b";
}
.icon-u-best:before {
    content: "\e90d";
}
.icon-m-best:before {
    content: "\e90e";
}
.icon-u-human:before {
    content: "\e913";
}
.icon-m-human:before {
    content: "\e914";
}
.icon-u-home:before {
    content: "\e915";
}
.icon-m-home:before {
    content: "\e916";
}
.icon-u-office:before {
    content: "\e917";
}
.icon-follow:before {
    content: "\e904";
}
.icon-followed:before {
    content: "\e905";
}
.icon-trophy:before {
    content: "\e922";
}
.icon-price:before {
    content: "\e923";
}
.icon-share:before {
    content: "\e924";
}
.icon-more:before {
    content: "\e925";
}
.icon-location .path1:before {
    content: "\e900";
    color: rgb(198, 198, 198);
}
.icon-location .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-location .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(198, 198, 198);
}
.icon-alarm:before {
    content: "\e903";
}
.icon-comment:before {
    content: "\e906";
}
.icon-enter:before {
    content: "\e907";
}
.icon-edit:before {
    content: "\e908";
}
.icon-like:before {
    content: "\e909";
}
.icon-like-active:before {
    content: "\e90a";
}
.icon-menu:before {
    content: "\e90c";
}
.icon-eval:before {
    content: "\e90f";
}
.icon-store:before {
    content: "\e910";
}
.icon-site:before {
    content: "\e911";
}
.icon-phone:before {
    content: "\e912";
}
.icon-search:before {
    content: "\e918";
}
.icon-settings:before {
    content: "\e919";
}
