@font-face {
    font-family: 'icomoon';
    src: url('http://7xp1h7.com2.z0.glb.qiniucdn.com/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-m-best:before {
    content: "\e90d";
}
.icon-m-human:before {
    content: "\e90e";
}
.icon-m-home:before {
    content: "\e913";
}
.icon-m-office:before {
    content: "\e914";
}
.icon-follow:before {
    content: "\e904";
}
.icon-followed:before {
    content: "\e905";
}
.icon-trophy:before {
    content: "\e922";
}
.icon-price:before {
    content: "\e923";
}
.icon-share:before {
    content: "\e924";
}
.icon-more:before {
    content: "\e925";
}
.icon-location .path1:before {
    content: "\e900";
    color: rgb(198, 198, 198);
}
.icon-location .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-location .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(198, 198, 198);
}
.icon-alarm:before {
    content: "\e903";
}
.icon-comment:before {
    content: "\e906";
}
.icon-enter:before {
    content: "\e907";
}
.icon-edit:before {
    content: "\e908";
}
.icon-like:before {
    content: "\e909";
}
.icon-like-active:before {
    content: "\e90a";
}
.icon-menu:before {
    content: "\e90c";
}
.icon-eval:before {
    content: "\e90f";
}
.icon-store:before {
    content: "\e910";
}
.icon-site:before {
    content: "\e911";
}
.icon-phone:before {
    content: "\e912";
}
.icon-search:before {
    content: "\e918";
}
.icon-settings:before {
    content: "\e919";
}
