@import 'var';
@font-face {
    font-family: 'icomoon';
    src: url('/icomoon/fonts/icomoon.ttf');
    /* src: url('#{$qn}/icomoon.ttf?v=1.4.0') format('truetype'); */
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-like-solid:before {
    content: "\e90b";
}
.icon-share:before {
    content: "\e90c";
}
.icon-comment-solid:before {
    content: "\e90d";
}
.icon-private-letter:before {
    content: "\e90e";
}
.icon-five-day:before {
    content: "\e900";
}
.icon-follow-big:before {
    content: "\e93b";
}
.icon-checked:before {
    content: "\e939";
}
.icon-argue:before {
    content: "\e92f";
}
.icon-payment:before {
    content: "\e930";
}
.icon-pay-guarantee:before {
    content: "\e932";
}
.icon-address:before {
    content: "\e933";
}
.icon-delete:before {
    content: "\e935";
}
.icon-service:before {
    content: "\e936";
}
.icon-receiving:before {
    content: "\e937";
}
.icon-logistics:before {
    content: "\e938";
}
.icon-contact:before {
    content: "\e93a";
}
.icon-unchecked:before {
    content: "\e93d";
}
.icon-guide:before {
    content: "\e93e";
}
.icon-goods-return:before {
    content: "\e93f";
}
.icon-sf:before {
    content: "\e940";
}
.icon-seven-day:before {
    content: "\e941";
}
.icon-enter-slim:before {
    content: "\e92e";
}
.icon-add:before {
    content: "\e92a";
}
.icon-subtract:before {
    content: "\e92b";
}
.icon-record:before {
    content: "\e92c";
}
.icon-clock:before {
    content: "\e92d";
}
.icon-weixin:before {
    content: "\e931";
}
.icon-down-slim:before {
    content: "\e934";
}
.icon-success:before {
    content: "\e928";
}
.icon-error:before {
    content: "\e929";
}
.icon-new-product:before {
    content: "\e920";
}
.icon-auction:before {
    content: "\e921";
}
.icon-user-profile:before {
    content: "\e927";
}
.icon-story:before {
    content: "\e91d";
}
.icon-down:before {
    content: "\e91c";
}
.icon-follow:before {
    content: "\e904";
}
.icon-followed:before {
    content: "\e905";
}
.icon-price:before {
    content: "\e923";
}
.icon-alarm:before {
    content: "\e903";
}
.icon-comment:before {
    content: "\e906";
}
.icon-enter:before {
    content: "\e907";
}
.icon-edit:before {
    content: "\e908";
}
.icon-like:before {
    content: "\e909";
}
.icon-like-active:before {
    content: "\e90a";
}
.icon-eval:before {
    content: "\e90f";
}
.icon-store:before {
    content: "\e910";
}
.icon-site:before {
    content: "\e911";
}
.icon-settings:before {
    content: "\e919";
}
