%separator {
    @include border(map-get($colors, 'border-primary'), top-bottom);
    background-color: map-get($colors, 'border-primary');
    display: block;
    width: 100%;
}
@mixin separator($height) {
    @extend %separator;
    height: $height;
}
.row {
    line-height: 100px;
    padding: 0 32px;
    position: relative;
    width: 100%;
    .icon-enter {
        margin-top: -16px;
        position: absolute;
        right: 32px;
        top: 50%;
    }
}
.row-block {
    .row:not(:first-child) {
        margin-top: 0;
    }
    .row:not(:last-child) {
        @include border(map-get($colors, 'border-primary'), bottom);
    }
}
$grid-columns: 12;
@for $i from 1 through $grid-columns {
    .col-#{$i+1} {
        float: left;
        width: percentage(($i+1)/$grid-columns);
    }
}
.separator-80 {
    @include separator(80px);
}
.separator-40 {
    @include separator(40px);
}
.separator-20 {
    @include separator(20px);
}
.separator {
    @include separator(22px);
}
// border classes
@each $direction in (all, top, right, bottom, left, vertical, horizontal) {
    .border-#{$direction} {
        @include border(#{$direction});
    }
}
