// font size
$sizes: (34, 30, 26, 24, 22);
// colors
$colors: (
    // text color
    txt-primary: #393939,
    txt-black: #888888,
    txt-blue: #33a1c9,
    txt-red: #cc3f4f,
    txt-gray: #c6c6c6,
    txt-white: #ffffff,

    // background color
    bg-primary: #efefef,
    bg-red: #cc3f4f,
    bg-yellow: #f3ac1c,
    bg-gray: #f9f9f9,
    bg-white: #ffffff,

    // border color
    border-primary: #d9d9d9,
);

// dimensions
$padding: 24px;
$margin: 24px;
