<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>鉴宝详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="/styles/jade.detail.css" />
</head>
<body class="loading" id="app" data-scroll="vm">
    <div class="jade">
        <div class="header">
            <img class="clickable avatar" @click="go('../me/profile.html?id=' + detail.applier.id)" :src="detail.applier.photo | img" alt="author">
            <div>
                <h3>{{detail.applier.name}}</h3>
                <p>
                    <span>{{detail.create_at | moment}}</span><span class="gutter">|</span><span>{{detail.click}}人浏览</span>
                </p>
            </div>
        </div>
        <p class="desc">
            {{detail.description}}
        </p>
        <div class="video clickable" @click="play(detail.video)" v-bind:style="{backgroundImage: 'url(http://7xo88d.media1.z0.glb.clouddn.com/' + detail.video+ '?vframe/jpg/offset/2/w/540/h/540/rotate/90/)'}"></div>
        <ul class="images"><li v-for="picture in detail.pictures" class="img" :style="{backgroundImage: 'url(http://7xo8aj.com2.z0.glb.qiniucdn.com/' + picture + ')'}">{{picture}}</li></ul>
    </div>
    <div class="separator-20"></div>
    <p class="evaluation-summary">
        大师鉴定{{detail.results.length}}
    </p>
    <div v-for="result in detail.results" class="evaluation">
        <div class="header">
            <img class="avatar" :src="result.identifier.photo | img'" alt="author">
            <div>
                <h3>{{result.identifier.name}}<span>个人官网</span></h3>
                <p>浙江省工艺美术大师</p>
            </div>
            <p class="moments">{{result.create_at | moment}}</p>
        </div>
        <div class="result">
            <div class="video clickable" @click="play(result.video)" v-bind:style="{backgroundImage: 'url(http://7xo88d.media1.z0.glb.clouddn.com/' + result.video+ '?vframe/jpg/offset/2/w/540/h/540/rotate/90/)'}"></div>
            <div class="desc">
                <div class="txt">
                    <p>鉴宝结果：<span :class="{'txt-red': result.result=='真货' }">{{result.result}}</span>
                    <span v-if="result.value_min"><br><br><span>估价：{{result.value_min | money}}~{{result.value_max | money}}</span></span></p>
                </div>
                <div class="social">
                    <span @click="toggleThumb(result.id)" class="favor clickable"><i class="{{result.isLike ? 'txt-red icon-thumb-active' : 'icon-thumb'}}"></i>{{result.like}}</span><!--remove space--><span @click="comment(result.identifier.id)" class="comment"><i class="icon-comment"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div v-show="!detail.results.length" class="txt-center txt-gray font-26 margin-top">还没有大师来鉴定</div>
    <div class="evaluation-btn">
        <button class="clickable" v-if="detail.identifiable" @click="evaluate">我来鉴定</button>
    </div>
    <div class="separator-20"></div>
    <div class="comments">
        <div class="header">
            <div class="count">评论{{comments.total}}</div>
            <div @click="comment" class="clickable comment-btn"><i class="icon-comment"></i>我要评论</div>
        </div>
        <ul>
            <li v-for="c in comments.list">
                <div class="author">
                    <img class="avatar clickable" @click="go('../me/profile.html?id=' + c.reply_from.id)" :src="c.reply_from.photo | img'" alt="author">
                    <div>
                        <h3 class="clickable" @click="comment(c.reply_from.id)">{{c.reply_from.nickname}}</h3>
                        <p class="moments">{{c.create_at | moment}}</p>
                    </div>
                </div>
                <div class="desc">
                    <span v-if="c.reply_to" class="label">回复<span @click="comment(c.reply_to.id)" class="name clickable">{{c.reply_to.nickname}}</span>:</span>
                    <span>{{c.content}}</span>
                </div>
            </li>
            <li v-show="!comments.list.length" class="txt-center txt-gray font-26 margin-top">还没有人评论</li>
        </ul>
    </div>
    <div class="separator-20 last"></div>
    <div class="social-actions bg-white animated" :class="{'slide-in-up': scroll.down, 'slide-out-down': !scroll.down }">
        <span @click="toggleFollow" class="clickable"><i class="{{detail.isFollowed ? 'icon-favor-active txt-red' : 'icon-favor'}}"></i>关注({{detail.follow}})</span><span @click="share" class="clickable"><i class="icon-share"></i>分享</span>
    </div>
    <script src="/scripts/resize.js"></script>
    <script defer src="/scripts/vue.js"></script>
    <script defer src="/scripts/vue-resource.min.js"></script>
    <script defer type="text/javascript" src="/scripts/_.js"></script>
    <script defer type="text/javascript" src="./js/jade.detail.js"></script>
</body>
</html>
