@import 'partials/myxx';


body {
    background-color: #607d8b;
}

h1 {
    margin: 10px 0;
    margin-bottom: 10px;
}

ul li {
    margin-top: .8em;
    > a {
        @extend .txt-white;
        text-decoration: none;
    }
}
