@import 'partials/myxx';
// components
.separator-20.last {
    padding-bottom: 128px;    // the height of social action bar
}
.avatar {
    height: 72px;
    border-radius: 50%;
    margin-right: 20px;
}
.video {
    position: relative;
    background-size: cover;
    background-position: center;
    &::after {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: 120px;
        mix-blend-mode: overlay;
        background-image: url('/images/icon/ico_video.png');
    }
}

.jade {
    margin: 32px;
    .header {
        display: -webkit-box;
        -webkit-box-align: center;
        h3 {
            font-size: 30px;
        }
        p {
            margin-top: 12px;
            font-size: 22px;
            color: #c6c6c6;
            .gutter {
                margin: 0 16px;
                color: #d9d9d9;
            }
        }
    }
    .desc {
        margin: 32px 0;
        font-size: 30px;
        color: #393939;
    }

    .video {
        width: 100%;
        padding-top: percentage(1/1.3);
    }
    .images {
        font-size: 0;
        margin: 5px -5px -5px;
        > li {
            display: inline-block;
            position: relative;
            width: 338px;
            padding: percentage(1/2.6) 0 0;
            margin: 5px;
            background-size: cover;
            background-position: center;
        }
    }

}

.evaluation-summary {
    @include border(map-get($colors, 'border-primary'), bottom);
    font-size: 22px;
    color: #888888;
    margin: 0 32px;
    height: 80px;
    line-height: 80px;
}

.evaluation {
    margin: 32px;
    .header {
        display: -webkit-box;
        -webkit-box-align: center;
        height: 120px;
        > div {
            -webkit-box-flex: 1;
        }
        h3 {
            font-size: 30px;
            color: #393939;
            span {
                display: inline-block;
                height: 36px;
                line-height: 36px;
                border-radius: 5px;
                padding: 0 12px;
                margin-left: 16px;
                font-size: 22px;
                color: white;
                background-color: #e79016;

            }
        }
        p {
            font-size: 22px;
            color: #888888;
            margin-top: 12px;
        }
        .moments {
            font-size: 22px;
            color: #c6c6c6;
            margin-top: 0;
        }
    }
    .result {
        display: -webkit-box;
        -webkit-box-pack: justify;
        -webkit-box-align: stretch;
        background-color: #f9f9f9;
        border: 1px solid #d9d9d9;
        font-size: 30px;
    }
    .video {
        width: 343px;
        padding-top: 343px;
        &::after {
            background-size: 60px;
        }
    }
    .desc {
        display: -webkit-box;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-box-align: start;
        width: 343px;
        .txt {
            -webkit-box-flex: 1;
            position: relative;
            > p {
                width: 343px;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .social {
            height: 80px;
            line-height: 80px;
            width: 343px;
            border-top: 1px solid #d9d9d9;
            font-size: 22px;
            .favor {
                width: 50%;
                display: inline-block;
                text-align: center;
                border-right: 1px solid #d9d9d9;
            }
            .comment {
                color: #d9d9d9;
                width: 50%;
                display: inline-block;
                text-align: center;
            }
        }
    }
}
.evaluation-btn {
    margin: 32px;
    button {
        font-size: 30px;
        color: white;
        background-color: #cc3f4f;
        height: 80px;
        width: 100%;
        border-radius: 10px;
        border: 0;
        cursor: pointer;
    }
}
.comments {
    margin: 32px;
    .header {
        @include border(map-get($colors, 'border-primary'), bottom);
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        height: 80px;
        font-size: 22px;
        .count {
            color: #c9c9c9;
        }
        .comment-btn {
            color: #cc3f4f;
        }
    }
}
li {
    margin-bottom: 8px;
    .author {
        display: -webkit-box;
        -webkit-box-align: center;
        height: 108px;
        h3 {
            font-size: 26px;
            color: #33a1c9;
        }
        .moments {
            font-size: 22px;
            color: #c6c6c6;
            margin-top: 12px;
        }
    }
    .desc {
        font-size: 30px;
        color: #393939;
        .name {
            color: #33a1c9;
        }
    }
}

.social-actions {
    @include border(map-get($colors, 'border-primary'), top);
    position: fixed;
    z-index: 9;
    bottom: 0;
    width: 100%;
    height: 98px;
    line-height: 98px;
    font-size: 26px;
    color: #888888;
    > span {
        display: inline-block;
        width: 50%;
        text-align: center;
        &:first-of-type {
            @include border(map-get($colors, 'border-primary'), right);
        }
    }
}
