<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>美玉秀秀</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/swiper.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body id="app" class="bg-primary">
    <div class="swiper-container swiper-container-v">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-container swiper-container-h">
                    <div class="swiper-wrapper">
                        <div v-for="item in promotes" class="swiper-slide">
                        	<div class="content font-26" :style="{backgroundImage: 'url(http://7xo8aj.com2.z0.glb.qiniucdn.com/' + item.image + ')'}">
                        		<div class="owner txt-white">
                        			<div class="icon">
                        				<img :src="item.user.photo | img" class="avatar-user"/>
                        			</div>
                        			<div class="desc">
                        				<h3>{{item.user.name}}</h3>
                        				<p>{{item.desc}}</p>
                        			</div>
                        		</div>
                        		<div class="social-status txt-gray">
                        			<span>
                    					<span class="like"><i class="icon-thumb txt-white"></i>{{item.follow}}</span>
                        				<span class="comment"><i class="icon-comment txt-white"></i>{{item.comments}}</span>
                        			</span>
                        			<span class="result">已有{{item.reviews}}位大师点评</span>
                    			</div>
                        	</div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-h down-hint font-22 txt-gray">向上滑动，查看美玉商品</div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-container swiper-container-scroll">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="up-hint font-22 txt-gray">向下滑动，查看推荐</div>
                            <div v-for="item in list" class="jade bg-white">
                		    	<div class="img-placeholder" :style="{backgroundImage: 'url(http://7xo8aj.com2.z0.glb.qiniucdn.com/' + item.image + ')'}"></div>
                		    	<p class="title font-26 txt-primary txt-left">{{item.desc}} {{item.title}}</p>
                		    	<p class="price font-26 txt-red txt-left">￥{{item.price}}</p>
                		    </div>
                        </div>
                    </div>
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/resize.js"></script>
    <script defer src="/scripts/vue.js"></script>
    <script defer src="/scripts/vue-resource.min.js"></script>
    <script defer type="text/javascript" src="/scripts/_.js"></script>
    <script defer type="text/javascript" src="/scripts/swiper.js"></script>
    <script defer type="text/javascript" src="./js/home.js"></script>
</body>

</html>
