<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>大师官网</title>
    <meta name="description" content="美玉秀秀"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link href="/styles/site.css" type="text/css" rel="stylesheet"/>
</head>
<body id="app">
    <div class="official-artist">
    <div class="bg">
        <img :src="bg"/>
    </div>
    <div class="personal-info">
        <span class="avatar"><img :src="avatar"/></span>
        <div class="detail-info">
            <div class="first-line clearfix">
                <span class="font-30 txt-primary float-left">{{name}}</span>
                <span class="font-26 txt-gray float-right">
                    <span class="icon-view"></span>
                    {{views}}
                </span>
            </div>
            <div class="titles font-22 txt-primary">
                <span v-for="title in titles" track-by="$index">{{title}}</span>
            </div>
        </div>
    </div>
    <div class="oper-list font-26 txt-gray">
        <div v-for="oper in operList" class="container col-4">
            <div class="item txt-center clickable">
                <span class="icon-{{oper.iconName}}"></span>
                <span class="text">{{oper.label}}</span>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="simple-intro">
        <div class="block-title font-22 title-gray">
            <span class="title">人物简介</span>
        </div>
        <div class="second-line">
            <span class="font-30 txt-primary">{{name}}</span>
            <span class="font-26 txt-gray">号{{alias}}</span>
        </div>
        <div class="desc font-26 txt-primary">{{desc}}</div>
        <div class="prizes font-26 txt-primary">
            <div class="line"></div>
            <div v-for="prize in prizes" class="prize-item">
                <span class="text">{{prize.text}}</span>
            </div>
        </div>
        <div class="expand font-22 title-gray txt-center">
            <span class="icon icon-arrow-up"></span>
            <span class="text">展开</span>
        </div>
    </div>
    <div class="separator"></div>
    <div class="jade block">
        <div class="block-title font-22 title-gray">
            <span class="title">大师鉴宝</span>
            <span class="icon-enter txt-primary"></span>
        </div>
        <div class="jade-content block-content clearfix">
            <div v-for="jade in jades" class="jade-item block-item col-6">
                <div class="bg-item">
                    <div class="resource">
                        <a href="{{jade.link}}"><img :src="jade.url"/></a>
                    </div>
                    <div class="name txt-primary">{{jade.name}}</div>
                    <div class="records clearfix txt-gray">
                        <div class="result txt-primary float-left">
                            <span class="label">鉴定结果: </span>
                            <span>{{jade.identificationResult}}</span>
                        </div>
                        <div class="liked float-right">
                            <span class="icon-thumb"></span>
                            <span>{{jade.likedCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="craft block">
        <div class="block-title font-22 title-gray">
            <span class="title">获奖作品展示</span>
            <span class="icon-enter txt-primary"></span>
        </div>
        <div class="craft-content block-content clearfix">
            <div v-for="craft in crafts" class="craft-item block-item col-6">
                <div class="resource"><a href="{{craft.link}}"><img :src="craft.url"/></a></div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="article block">
        <div class="block-title font-22 title-gray">
            <span class="title">大师工艺展示</span>
            <span class="icon-enter txt-primary"></span>
        </div>
        <div class="article-content block-content clearfix">
            <div v-for="article in articles" class="article-item block-item col-6">
                <div class="bg-item">
                    <div class="resource"><a href="{{link}}"><img :src="article.url"/></a></div>
                    <div class="name">{{article.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="store block">
        <div class="block-title font-22 title-gray">
            <span class="title">店铺展示</span>
            <span class="icon-enter txt-primary"></span>
        </div>
        <div class="store-content block-content clearfix">
            <div class="col-6">
                <img :src="store.url"/>
            </div>
            <div class="info col-6">
                <div class="font-30 txt-black">{{store.name}}</div>
                <div class="desc font-26 txt-gray">{{store.desc}}</div>
                <div class="address font-26 txt-gray">
                    <span class="icon-location">
				        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
				    </span>
                    <span class="text">{{store.address}}</span>
                </div>
                <div class="phone font-26 txt-gray">
                    <span class="icon-phone"></span>
                    <span class="text">{{store.phone}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="treasure block">
        <div class="block-title font-22 title-gray">
            <span class="title">镇店之宝</span>
            <span class="icon-enter txt-primary"></span>
        </div>
        <div class="treasure-content">
            <div v-for="treasure in treasures" track-by="$index" class="treasure-item">
                <img :src="treasure"/>
            </div>
            <nav class="pagination">
                <li v-for="treasure in treasures" track-by="$index" class="dot"></li>
            </nav>
        </div>
    </div>
    <div class="separator"></div>
    <div class="comments">
        <div class="block-title clearfix font-22 title-gray">
            <span class="title">留言 {{comment.count}}</span>
            <div class="float-right txt-red">
                <span class="icon-comment"></span>
                <span class="text">我要留言</span>
            </div>
        </div>
        <div class="comment-content font-26">
            <div v-for="comment in comment.data" class="comment-item">
                <div class="first-line clearfix">
                    <div class="float-left">
                        <img :src="comment.head">
                    </div>
                    <div class="float-left name-date">
                        <div class="name">{{comment.name}}</div>
                        <div class="txt-gray">{{comment.date | moment}}</div>
                    </div>
                </div>
                <div class="content txt-primary">
                    <span v-if="comment.reply">回复 <span class="txt-blue">{{comment.reply.name}}</span> : {{comment.reply.content}}</span>
                    <span v-else>{{comment.content}}</span>
                </div>
            </div>
        </div>
     </div>
 </div>
<script src="/scripts/resize.js"></script>
<script defer src="/scripts/vue.js"></script>
<script defer src="/scripts/vue-resource.min.js"></script>
<script defer type="text/javascript" src="/scripts/_.js"></script>
<script defer type="text/javascript" src="./js/site.js"></script>
</body>
