@import "partials/var"
@import "partials/reset"
@import "partials/mixin"
// @import "partials/iconmoon"

$directions = {t: top, r: right, b: bottom, l: left, v: top bottom, h: left right}

/****************************
*        字体大小            *
* **************************/
for size in range(20, 50, 2)
    .fz-{size}
        font-size: size px

/****************************
*   文字颜色，背景色，边框    *
* **************************/
for $clazz, $color in $colors
	.{$clazz}
		if match('bg', $clazz)
			background-color: $color
		else if match('bd', $clazz)
			border(a, $color)
		else
			color: $color

for $d in $directions
    .bd{$d}
        border($d)

/****************************
*        垂直居中            *
* **************************/
for $size in 68 80 90 98 100
    .line-height-{$size}
        height: $size px
        line-height: $size px

/****************************
*        常用间距            *
* **************************/
gap($size)
    if $size
        $suffix = - $size
    else
        $size = 20
        $suffix = ''

    .mg{$suffix}
        margin: $size px
    .pd{$suffix}
        padding: $size px
    for $d, $dirs in $directions
        .mg{$d}{$suffix}
            for $dir in $dirs
                margin-{$dir}: $size px
        .pd{$d}{$suffix}
            for $dir in $dirs
                padding-{$dir}: $size px
for $size in range(4, 50, 2)
    gap($size)
gap(0)
/****************************
*           position        *
* **************************/
for $pos in relative absolute fixed
    .{$pos}
        position: $pos


/****************************
*          display          *
* **************************/
for $dis in block inline-block none
    .{$dis}
        display: $dis

.flex
    display: -webkit-box
    -webkit-box-align: center
    for $i in 1..4
        > .flex-{$i}
            -webkit-box-flex: $i

/****************************
*          align            *
* **************************/
.center, .txt-center
    text-align: center
.txt-right
    text-align: right
.center-h
    position: relative
    left: 50%
    transform: translate3d(-50%, 0, 0)
.center-v
    position: relative
    top: 50%
    transform: translate3d(0, -50%, 0)
.center-a
    position: relative
    top: 50%
    left: 50%
    transform: translate3d(-50%, -50%, 0)

/****************************
*           常用组件         *
* **************************/
.scrollable
    -webkit-overflow-scrolling: touch
    overflow-x: auto
    white-space: nowrap
    font-size: 0
    > *
        display: inline-block

$line-clamp
    overflow: hidden
    word-break: break-all

    text-overflow: ellipsis
    line-height: 1.2
.line-clamp, .line-clamp-1
    @extends $line-clamp
    -webkit-line-clamp: 1
    white-space: nowrap
.line-clamp-2
    @extends $line-clamp
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
.line-clamp-3
    @extends $line-clamp
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 3
.line-clamp-4
    @extends $line-clamp
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4

.user-txt
    word-break: break-all
    line-height: 1.5
    img
        display: inline-block
        vertical-align: top
        height: 40px
        width: 40px

.hr
    height: 20px
    background-color: $colors.bg

.round
    border-radius: 50%

.bold
    font-weight: bold

.video
    position: relative
    background-size: contain
    background-color: black
    &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        background: transparent url($qn + 'icon/play.svg') no-repeat 50%
        background-size: 2rem

// [class^="icon-"]
//     display: inline-block
//     & + span
//         display: inline-block
//         padding-left: 8px