// 七牛资源地址
$qn: '//o0x80w5li.qnssl.com';
// font size
$fonts: (50, 44, 40, 34, 32, 30, 26, 22);
// colors
$colors: (
    // text color
    // primary: #393939,    // 默认字体颜色已做全局设置
    light: #c6c6c6,
    gray: #888888,
    blue: #33a1c9,
    red: #cc3f4f,
    white: #ffffff,
    black: #000000,
    yellow: #f3ac1c,
    green: #22ac38,

    // background color
    bg-default: #efefef,
    bg-gray: #c6c6c6,
    bg-light: #f9f9f9,
    bg-red: #cc3f4f,
    bg-yellow: #f3ac1c,
    bg-green: #22ac38,
    bg-blue: #469de7,
    bg-white: #ffffff,
    bg-disable: #b2b2b2,
    bg-black: #000000,
    // bg--active: #d9d9d9, // 全局active状态设置

    // border color
    border-default: #d9d9d9,
    border-red: #cc3f4f,
    border-gray: #888888,
    border-light: #efefef
);

$avatars: (240, 222, 180, 120, 108, 90, 68, 50, 36);
