$qn = "//o0x80w5li.qnssl.com/"

$colors = {
    light: #c6c6c6,
    gray: #888888,
    gray-99: #999,
    gray-8f: #8f8f8f,
    gray-d9: #d9d9d9,
    dark: #666666,
    blue: #5da8ff,
    blue-52: #527fb0,
    red: #cc3f4f,
    white: white,
    black: #393939,
    black-24: #242424,
    yellow: #f3ac1c,
    yellow-f1: #f1ab47,
    green: #22ac38,
    green-2e: #2eb41c,
    green-09: #09bb07,
    orange: #c99b5a,

    bg: #efefef,
    bg-gray: #c6c6c6,
    bg-gray-f7: #f7f7f7,
    bg-light: #f9f9f9,
    bg-red: #cc3f4f,
    bg-yellow: #f3ac1c,
    bg-green: #22ac38,
    bg-green-2e: #2eb41c,
    bg-blue: #469de7,
    bg-white: white,
    bg-disable: #b2b2b2,
    bg-black: black,
    bg-light-gray: #f5f5f5,
    bg-yellow-f1: #f1ab47,

    bd: #f7f7f7,
    bd-red: #cc3f4f,
    bd-gray: #888888,
    bd-light: #d9d9d9,
    bd-white: #ffffff
}
