$qn = "//o0x80w5li.qnssl.com/"

$colors = {
    light: #c6c6c6,
    gray: #888888,
    blue: #5da8ff,
    red: #cc3f4f,
    white: white,
    black: black,
    yellow: #f3ac1c,
    green: #22ac38,

    bg: #efefef,
    bg-gray: #c6c6c6,
    bg-light: #f9f9f9,
    bg-red: #cc3f4f,
    bg-yellow: #f3ac1c,
    bg-green: #22ac38,
    bg-blue: #469de7,
    bg-white: white,
    bg-disable: #b2b2b2,
    bg-black: black,

    bd: #d9d9d9,
    bd-red: #cc3f4f,
    bd-gray: #888888,
    bd-light: #eeeeee
}
