.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-add-answer {
  width: 1.15625em;
}

.icon-chat {
  width: 1.34375em;
}

.icon-comment {
  width: 1.15625em;
}

.icon-enter {
  width: 0.654296875em;
}

.icon-fire {
  width: 0.8125em;
}

.icon-invite {
  width: 1.03125em;
}

.icon-like {
  width: 1.0625em;
}

.icon-share {
  width: 1.1875em;
}
